<a href="https://colab.research.google.com/github/abanis24/creditcardfraud_detection/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.6)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.10)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

from sklearn.metrics import accuracy_score,confusion_matrix, precision_score,recall_score,f1_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from  sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [5]:
df = pd.read_csv('creditcard_2023.csv')

In [6]:
df.head()

   id        V1        V2        V3        V4  ...       V26       V27       V28    Amount  Class
0   0 -0.260648 -0.469648  2.496266 -0.083724  ... -0.434824 -0.081230 -0.151045  17982.10    0.0
1   1  0.985100 -0.356045  0.558056 -0.429654  ...  0.296503 -0.248052 -0.064512   6531.37    0.0
2   2 -0.260272 -0.949385  1.728538 -0.457986  ... -0.312895 -0.300258 -0.244718   2513.54    0.0
3   3 -0.152152 -0.508959  1.746840 -1.090178  ... -0.515950 -0.165316  0.048424   5384.44    0.0
4   4 -0.206820 -0.165280  1.527053 -0.448293  ...  1.071126  0.023712  0.419117  14278.97    0.0

[5 rows x 31 columns]

In [7]:
df.shape

(112010, 31)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112010 entries, 0 to 112009
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      112010 non-null  int64
 1   V1      112010 non-null  float64
 2   V2      112010 non-null  float64
 3   V3      112010 non-null  float64
 4   V4      112010 non-null  float64
 5   V5      112010 non-null  float64
 6   V6      112010 non-null  float64
 7   V7      112010 non-null  float64
 8   V8      112010 non-null  float64
 9   V9      112010 non-null  float64
 10  V10     112010 non-null  float64
 11  V11     112010 non-null  float64
 12  V12     112010 non-null  float64
 13  V13     112010 non-null  float64
 14  V14     112010 non-null  float64
 15  V15     112010 non-null  float64
 16  V16     112010 non-null  float64
 17  V17     112010 non-null  float64
 18  V18     112010 non-null  float64
 19  V19     112010 non-null  float64
 20  V20     112010 non-null  float64
 21  V21     112010 non-null  float64
 22  V22     112010 non-null  float64
 23  V23     112010 non-null  float64
 24  V24     112010 non-null  float64
 25  V25     112010 non-null  float64
 26  V26     112009 non-null  float64
 27  V27     112009 non-null  float64
 28  V28     112009 non-null  float64
 29  Amount  112009 non-null  float64
 30  Class   112009 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 26.5 MB

In [9]:
data = df.copy()

In [11]:
data.drop(['id','Class'],axis=1)

              V1        V2        V3        V4  ...       V26       V27       V28    Amount
0      -0.260648 -0.469648  2.496266 -0.083724  ... -0.434824 -0.081230 -0.151045  17982.10
1       0.985100 -0.356045  0.558056 -0.429654  ...  0.296503 -0.248052 -0.064512   6531.37
2      -0.260272 -0.949385  1.728538 -0.457986  ... -0.312895 -0.300258 -0.244718   2513.54
3      -0.152152 -0.508959  1.746840 -1.090178  ... -0.515950 -0.165316  0.048424   5384.44
4      -0.206820 -0.165280  1.527053 -0.448293  ...  1.071126  0.023712  0.419117  14278.97
...          ...       ...       ...       ...  ...       ...       ...       ...       ...
112005  0.965811 -0.830622  0.400337 -1.278404  ...  2.206680 -0.369042 -0.077239  20635.56
112006 -0.053531 -0.136138  1.348289 -0.383120  ...  0.436451 -0.252701  0.080515  11613.05
112007  0.950584 -0.273448  1.049439  0.320500  ... -0.416446 -0.218762 -0.028178  14534.67
112008 -0.291527  0.326405  0.084806 -0.430787  ... -1.371840 -0.664941  0.055654   9300.00
112009  0.967531 -0.367706  0.597255 -0.185613  ...       NaN       NaN       NaN       NaN

[112010 rows x 29 columns]

In [12]:
df['Class'].value_counts()

Class
0.0    111769
1.0       240
Name: count, dtype: int64